:root {
	--primary: #ff7c00;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*Zona De Informacion De Miembro De Discipulado*/

#discipleshipMemberInformation {
	position: fixed;
	width: 100%;
	height: 100vh;
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 400;
}

.union {
	display: flex;
	justify-content: center;
}

#name {
	color: #444;
	font-size: 30px;
	margin: 10px 0;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
}

#exit {
	position: relative;
	left: 80px;
	font-size: 28px;
	color: #333;
	border: none;
	background: transparent;
	cursor: pointer;
}

.informationCard {
	width: 40%;
	background: #fff;
	padding: 20px 25px;
	border-radius: 7px;
}

.information { margin: 5px 5px; }

.information h1 { 
	width: 45%;
	display: inline-block; 
	font-size: 20px;
	color: #444;
	font-family: 'Josefin Sans', sans-serif;
}

h1.memberId, h1.discipleshipId, h1.totalAssistance, h1.entryDate, h1.processId, h1.consolidationLeader, h1.totalTime, h1.processCreationDate, h1.processModificationDate {
	color: #fff;
	border-radius: 2px;
	padding: 2px 3px;
	background: var(--primary);
}

#back {
	display: none;
	font-size: 22px;
	font-family: 'Josefin Sans', sans-serif;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 5px 15px;
	margin: 5px 15px;
	color: #fff;
	background: var(--primary);
	border-radius: 5px;
	transition: all .2s;
}

/*-----------------------*/

/* Zona De Informacion De Procesos */

#processInformation {
	position: fixed;
	width: 100%;
	height: 100vh;
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 400;
}

.processUnion {
	display: flex;
	justify-content: center;
}

#processName {
	color: #444;
	font-size: 30px;
	margin: 10px 0;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
}

#processExit {
	position: relative;
	left: 80px;
	font-size: 28px;
	color: #333;
	border: none;
	background: transparent;
	cursor: pointer;
}

#processExit:hover, #registerListExit:hover { color: var(--primary); }
#processExit:active, #registerListExit:active { color: #ff0000; }

.processInformationCard {
	width: 65%;
	background: #fff;
	padding: 20px 25px;
	border-radius: 7px;
}

.informationContainer {
	margin: 20px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.processDescriptionShort, .processDescriptionContainer {
	margin: 0 20px;
	width: 45%;
	max-width: 45%;
}

.processObservation {
	padding: 20px;
	background: #eee;
	letter-spacing: 1px;
	color: #232323;
	width: 100%;
	max-height: 100px;
	overflow: auto;
	margin: 20px 0;
}

.processDescription {
	padding: 20px;
	background: #eee;
	letter-spacing: 1px;
	color: #232323;
	width: 100%;
	max-height: 150px;
	overflow: auto;
	margin: 20px 0;
}

.descriptionTitle {
	font-family: 'Indie Flower', cursive;
	color: var(--primary);
}

/*------------------------*/

.deleteBar {
	padding: 15px;
	width: 100%;
	background: #ddd;
	position: fixed;
	top: 0;
	z-index: 1;
	text-align: center;
	transform: translateY(-100px);
	transition: .7s;
}

.deleteBar span {
	font-size: 28px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
}

.deleteBarButton {
	position: absolute;
	top: 5px;
	right: 150px;
	display: inline-block;
}

.form-container {
	position: fixed;
	width: 100%;
	height: 100vh;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 50;
	transition: all .5;
}

.formContentContainer {
	min-width: 450px;
	background: #fff;
	padding: 20px 25px;
	border-radius: 7px;
	text-align: center;
}

#nameOptions { 
	width: 90%; 
	display: none;
}

.addMemberTitle {
	font-size: 23px;
	color: var(--primary);
	font-family: 'Indie Flower', cursive;
}

.headerContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 20px 40px;
	width: 100%;
	height: 90vh;
	background: rgb(255,158,0);
	background: linear-gradient(135deg, rgba(255,158,0,.6) 22%, rgba(255,0,159,.6) 78%), url('../../img/tables/consolidation.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.fa-bars {
	position: absolute;
	top: 50px;
	left: 60px;
	color: #fff;
	font-size: 40px;
	cursor: pointer;
	transition: color .5s;
}

.fa-bars:hover {
	color: #ddd;
}

.fa-bars:active {
	color: #ccc;
}

.navAbsolutePosition {
	position: absolute;
	right: 80px;
	top: 60px;
}

.navAbsolutePosition a {
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	margin: 0 10px;
	font-family: 'Fira Sans', sans-serif;
	transition: color .4s;
}

.navAbsolutePosition a:hover {
	color: #ddd;
}

.navAbsolutePosition a:active {
	color: #ccc;
}

.title {
	margin: 10px 0;
	color: #fff;
	font-size: 55px;
	font-family: 'Indie Flower', cursive;
}

.searchArea {
	margin: 20px 0;
	text-align: center;
	width: 100%;
}

.searchInput {
	padding: 13px 20px;
	border: none;
	outline: none;
	border-radius: 6px;
	font-size: 18px;
	font-weight: 600;
	width: 40%;
	color: #555;
	transition: all .5s;
}

.searchInput::placeholder {
	color: #aaa;
	font-weight: 600;
}

.searchInput:hover {
	background: #efefef;
}

.searchInput:focus {
	background: #efefef;
	border-left: 5px solid rgba(89,0,255,1);
}

#add, #delete, #cancel, #send, #cancelMemberSend, #rollCall, #cancelDelete, #confirm, #cancelRollCall, #confirmRollCall, #addPersonToConsolidation, #deleteConsolidationPerson, #updateConsolidationPerson, #cancelUpdate, #addProcess, #deleteProcess, #updateProcess, #cancelUpdateProcess, #editList, #removeList, #cancelListEvent {
	background: var(--primary);
	padding: 13px 20px;
	border: none;
	outline: none;
	border-radius: 6px;
	font-size: 18px;
	color: #fff;
	cursor: pointer;
	transition: all .5s;
}

#send, #cancelMemberSend { 
	margin: 5px 0;
	padding: 10px 15px; 
	width: 45%;
}

#send, #confirm, #confirmRollCall { background: #007bff; }
#send:hover, #confirm:hover, #confirmRollCall:hover { background: #0051ff; }
#send:active, #confirm:active, #confirmRollCall:active { background: #001aff; }

.searchInput::placeholder {
	color: #aaa;
	font-weight: 600;
}

.searchInput:hover {
	background: #efefef;
}

.searchInput:focus {
	background: #efefef;
	border-left: 5px solid rgba(89,0,255,1);
}

#add:hover, #delete:hover, #cancel:hover, #cancelMemberSend:hover, #rollCall:hover, #cancelDelete:hover, #cancelRollCall:hover, #back:hover, #addPersonToConsolidation:hover, #deleteConsolidationPerson:hover, #updateConsolidationPerson:hover, #cancelUpdate:hover, #addProcess:hover, #deleteProcess:hover, #updateProcess:hover, #cancelUpdateProcess:hover, #editList:hover, #removeList:hover, #cancelListEvent:hover {
	background: #ff6000;
}

#add:active, #delete:active, #cancel:active, #cancelMemberSend:hover, #rollCall:active, #cancelDelete:active, #cancelRollCall:active, #back:active, #addPersonToConsolidation:active, #deleteConsolidationPerson:active, #updateConsolidationPerson:active, #cancelUpdate:active, #addProcess:active, #deleteProcess:active, #updateProcess:active, #cancelUpdateProcess:active,  #editList:active, #removeList:active, #cancelListEvent:active {
	background: #ff5000;
}

.consolidationProcess:hover { 
	color: #fff; 
	background: #ff5000; 
	border: none; 
	cursor: pointer;
}

#cancel, #delete, #confirmRollCall, #cancelRollCall, #addPersonToConsolidation,#deleteConsolidationPerson, #updateConsolidationPerson, #cancelUpdate, #addProcess, #deleteProcess, #updateProcess, #cancelUpdateProcess, #cancelListEvent { display: none; }

.wave {
	width: 100%;
	height: 300px;
	position: absolute;
	bottom: 0;
}

#add, #delete, #cancel, #rollCall, #addPersonToConsolidation, #deleteConsolidationPerson, #updateConsolidationPerson, #cancelUpdate, #addProcess, #deleteProcess, #updateProcess, #cancelUpdateProcess, #editList, #removeList, #cancelListEvent {
	background: rgba(89,0,255,1);
}

.container {
	margin-top: 50px;
	padding: 20px 40px;
}

.spanTitle, .loadingList, .spanTitleList {
	margin: 20px 0;
	font-size: 30px;
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	color: #333;
}

.editButtonContainer {
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 12px 0;
	margin: 20px 0;
	border-bottom: 1px solid var(--primary);
}

.memberTitle h1 {
	color: var(--primary);
	font-size: 38px;
	font-family: 'Indie Flower', cursive;
}

#filter, #nameOptions {
	margin: 10px;
	padding: 6px 10px;
	border: 1px solid var(--primary);
	outline: none;
	border-radius: 6px;
	font-size: 18px;
	color: #444;
	cursor: pointer;
	transition: all .5s;
}

.buttonContainer button {
	margin: 0 4px;
}

.dataContainer {
	margin: 20px 0;
	width: 100%;
	max-width: 100%;
	max-height: 600px;
	overflow: auto;
}

.dataTitle {
	width: 100%;
	position: sticky;
	top: 0;
	display: none;
	grid-template-columns: repeat(3, 1fr);
	gap:  5px;
	text-align: center;
	margin: 5px 0;
	transition: .5 all;
}

.consolidationPersonDataTitle {
	width: 100%;
	position: sticky;
	top: 0;
	display: none;
	grid-template-columns: repeat(6, 1fr);
	gap:  5px;
	text-align: center;
	margin: 5px 0;
	transition: .5 all;
}

.consolidationProcessDataTitle {
	width: 100%;
	position: sticky;
	top: 0;
	display: none;
	grid-template-columns: repeat(5, 1fr);
	gap:  5px;
	text-align: center;
	margin: 5px 0;
	transition: .5 all;
}

.smallInformation {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	gap: 5px;
	text-align: center;
}

.dataTitle h4 {
	font-family: 'Architects Daughter', cursive;
	padding: 3px;
	color: #fff;
	background: var(--primary);
}

.consolidationPersonDataTitle h4 {
	font-family: 'Architects Daughter', cursive;
	padding: 3px;
	color: #fff;
	background: var(--primary);
}

.consolidationProcessDataTitle h4 {
	font-family: 'Architects Daughter', cursive;
	padding: 3px;
	color: #fff;
	background: var(--primary);
}

.result {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(3, 1fr);
	gap:  5px;
	text-align: center;
}

.consolidationPersonResult {
	margin: 5px 0;
	display: grid;
	width: 100%;
	grid-template-columns: repeat(6, 1fr);
	gap:  5px;
	text-align: center;
}

.consolidationProcessResult {
	margin: 5px 0;
	display: grid;
	width: 100%;
	grid-template-columns: repeat(5, 1fr);
	gap:  5px;
	text-align: center;
}

.activeCursor { cursor: pointer; }

.thereAreNot, .thereAreNotList {
	font-size: 45px;
	color: var(--primary);
	font-weight: 1000;
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
}

.result h1, .consolidationPersonResult h1, .consolidationProcessResult h1 {
	padding: 8px;
	max-width: 100%;
	font-size: 18px;
	color: #333;
	border: 1px solid #555;
	border-radius: 3px;
	transition: all .4s;
}

.consolidationPersonResult h1, .consolidationProcessResult h1 {
	max-height: 43px;
	overflow: auto;
}

.name { grid-column: span 2; }

#assistance {
	background: #fa6000;
}

.id, .consolidation, #assistance, .consolidationProcessId {
	cursor: pointer;
}

.id:hover, .consolidation:hover, #assistance:hover, .consolidationProcessId:hover {
	background: #ff7000;
	color: #fff;
	border: none;
}

.id:active, .consolidation:active, #assistance:active, .consolidationProcessId:active {
	background: #ff5000;
}

.mouseoverDelete > h1, .mouseoverDelete > .id, .mouseoverDelete > .consolidation, .mouseoverDelete .smallInformation > h1 { 
	background: #ff4400;
	color: #fff;
	border: none;
}

.selectedToDelete > h1, .selectedToDelete > .id, .selectedToDelete > .consolidation, .selectedToDelete .smallInformation > h1 {
	background: #ff0000;
	color: #fff;
	border: none;
}

.mouseoverRollCall > h1, .mouseoverRollCall > .id, .mouseoverRollCall > .consolidation, .mouseoverRollCall .smallInformation > h1 {
	background: #00c42e;
	color: #fff;
	border: none;
}

.selectedToRollCall > h1, .selectedToRollCall > .id, .selectedToRollCall > .consolidation, .selectedToRollCall .smallInformation > h1 {
	background: #00c7ae;
	color: #fff;
	border: none;
}

.mouseoverPersonToUpdate > h1, .mouseoverPersonToUpdate > .id, .mouseoverPersonToUpdate > .consolidation, .mouseoverPersonToUpdate .smallInformation > h1, .mouseoverProcessToUpdate > h1, .mouseoverProcessToUpdate > .consolidationProcessId {
	background: #00b52a;
	color: #fff;
	border: none;
}

/* sidebar */

.dark {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 350vh;
	background: #4447;
	opacity: 0;
	display: none;
	transition: all 1s;
	z-index: 1;
}

.darkActive {
	display: block;
	animation: darkActive 1s forwards;
}

.sidebar {
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 40px 20px;
	background: #fff5;
	width: 35%;
	height: 100vh;
	transform: translateX(-500px);
	transition: transform .6s;
	z-index: 10;
}

.activeBars {
	transform: translateX(0);
}

.sidebar a {
	text-decoration: none;
}

.buttonDiv {
	display: flex;
	justify-content: space-between;
	margin: 3px 0;
	background: rgba(89,0,255,1);
	cursor: pointer;
	transition: all .3s;
}

.buttonDiv h1 {
	color: #fff;
	font-size: 30px;
	margin: 10px 22px;
	font-family: 'Josefin Sans', sans-serif;
}

.buttonDiv:hover {
	background: var(--primary);
	transform: scale(1.05);
}

@keyframes darkActive {
	0% {
		opacity: 0;		
	}
	100% {
		opacity: 1;
	}
}

/*assistance*/

.listContainer {
	display: none;
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background: #fff;
	padding: 20px;
}

.listTitle { 
	margin: 20px 30px; 
	display: flex;
	justify-content: space-between;
}

.listTitle h1 {
	color: var(--primary);
	font-size: 32px;
	font-family: 'Indie Flower', cursive;
}

.listTitle button {
	border: none;
	outline: none;
	font-size: 32px;
	cursor: pointer;
	background: transparent;
	color: #444;
	transition: .2s;
}

.listRecordContainer {
	padding: 20px;
	max-height: 400px;
	overflow: auto;
}

.dateDataTitle {
	width: 100%;
	position: sticky;
	top: 0;
	display: grid;
	grid-template-columns: 230px repeat(10000,100px);
	gap:  5px;
	text-align: center;
	margin: 5px 0;
	transition: .5 all;
}

.dateDataTitle h4 {
	font-size: 15px;
	font-family: 'Architects Daughter', cursive;
	padding: 3px;
	color: #fff;
	background: var(--primary);
	transition: .2s all;
}

.assistance {
	width: 100%;
	display: grid;
	grid-template-columns: 230px repeat(10000,100px);
	gap:  5px;
	text-align: center;
	margin: 5px 0;
}

.assistance h1 {
	padding: 8px 0px;
	max-width: 100%;
	font-size: 15px;
	color: #333;
	border: 1px solid #555;
	border-radius: 3px;
}

.assistance h1.arrive {
	background: #00c7ae;
	color: #fff;
	border: none;
}

.listButtons {
	position: absolute;
	right: 60px;
	bottom: 60px;
}