:root {
	--primary: #ff7c00;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.deleteBar {
	padding: 15px;
	width: 100%;
	background: #ddd;
	position: fixed;
	top: 0;
	z-index: 1;
	text-align: center;
	transform: translateY(-100px);
	transition: .7s;
}

.deleteBar span {
	font-size: 28px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
}

.deleteBarButton {
	position: absolute;
	top: 5px;
	right: 150px;
	display: inline-block;
}

.headerContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 20px 40px;
	width: 100%;
	height: 90vh;
	background: rgb(255,158,0);
	background: linear-gradient(135deg, rgba(255,158,0,.6) 22%, rgba(255,0,159,.6) 78%), url('../../img/tables/memberAdministration.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.fa-bars {
	position: absolute;
	top: 50px;
	left: 60px;
	color: #fff;
	font-size: 40px;
	cursor: pointer;
	transition: color .5s;
}

.fa-bars:hover {
	color: #ddd;
}

.fa-bars:active {
	color: #ccc;
}

.navAbsolutePosition {
	position: absolute;
	right: 80px;
	top: 60px;
}

.navAbsolutePosition a {
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	margin: 0 10px;
	font-family: 'Fira Sans', sans-serif;
	transition: color .4s;
}

.navAbsolutePosition a:hover {
	color: #ddd;
}

.navAbsolutePosition a:active {
	color: #ccc;
}

.title {
	margin: 10px 0;
	color: #fff;
	font-size: 55px;
	font-family: 'Indie Flower', cursive;
}

.searchArea {
	margin: 20px 0;
	text-align: center;
	width: 100%;
}

.searchInput {
	padding: 13px 20px;
	border: none;
	outline: none;
	border-radius: 6px;
	font-size: 18px;
	font-weight: 600;
	width: 40%;
	color: #555;
	transition: all .5s;
}

.searchInput::placeholder {
	color: #aaa;
	font-weight: 600;
}

.searchInput:hover {
	background: #efefef;
}

.searchInput:focus {
	background: #efefef;
	border-left: 5px solid rgba(89,0,255,1);
}

#edit, #add, #update, #delete, #confirm, #cancel, #cancelUpdate {
	background: var(--primary);
	padding: 13px 20px;
	border: none;
	outline: none;
	border-radius: 6px;
	font-size: 18px;
	color: #fff;
	cursor: pointer;
	transition: all .5s;
}

#add:hover, #delete:hover, #update:hover, #edit:hover, #information:hover, #discipleship:hover, #cancel:hover, #cancelUpdate:hover {
	background: #ff6000;
}

#edit:active, #add:active, #delete:active, #update:active, #information:active, #discipleship:active, #cancel:active, #cancelUpdate:active {
	background: #ff5000;
}

#confirm { background: #007bff; }
#confirm:hover { background: #0051ff; }
#confirm:active { background: #001aff; }

.wave {
	width: 100%;
	height: 300px;
	position: absolute;
	bottom: 0;
}

.container {
	margin-top: 50px;
	padding: 20px 40px;
}

.editButtonContainer {
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 12px 0;
	margin: 20px 0;
	border-bottom: 1px solid var(--primary);
}

.memberTitle h1 {
	display: inline-block;
	color: var(--primary);
	font-size: 38px;
	font-family: 'Indie Flower', cursive;
}

#filter {
	margin: 10px;
	padding: 6px 10px;
	border: 1px solid var(--primary);
	outline: none;
	border-radius: 6px;
	font-size: 18px;
	color: #444;
	cursor: pointer;
	transition: all .5s;
}

.buttonContainer button {
	margin: 0 4px;
}

#add, #update, #delete, #cancelUpdate {
	background: rgba(89,0,255,1);
}

#cancelUpdate { display: none; }

.dataContainer {
	margin: 20px 0;
	width: 100%;
	max-width: 100%;
	max-height: 600px;
	overflow: auto;
}

.spanTitle {
	margin: 20px 0;
	font-size: 30px;
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	color: #333;
}

.dataTitle {
	position: sticky;
	top: 0;
	display: none;
	grid-template-columns: repeat(15, 200px);
	gap:  5px;
	text-align: center;
}

.dataTitle h4 {
	font-family: 'Architects Daughter', cursive;
	padding: 3px;
	color: #fff;
	background: var(--primary);
}

.result {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(15, 200px);
	gap: 5px;
	text-align: center;
}

.activeCursor { cursor: pointer; }

.result h1 {
	padding: 8px;
	max-width: 100%;
	max-height: 47px;
	font-size: 18px;
	color: #333;
	margin: 5px 0;
	border: 1px solid #555;
	border-radius: 3px;
	overflow: auto;
	transition: all .3s;
}

.mouseoverDelete > h1, .mouseoverDelete> #information, .mouseoverDelete > #discipleship, .mouseoverDelete > #information, .mouseoverDeleted > #discipleship { 
	background: #ff4400;
	color: #fff;
	border: none;
}

.selectedToDelete > h1, .selectedToDelete > #information, .selectedToDelete > #discipleship {
	background: #ff0000;
	color: #fff;
	border: none;
}

.mouseoverUpdate > h1, .mouseoverUpdate > #information, .mouseoverUpdate > #discipleship, .mouseoverUpdate > h1, .mouseoverUpdate > #information, .mouseoverUpdate > #discipleship {
	background: #00c42e;
	color: #fff;
	border: none;
}

.thereAreNot {
	font-size: 45px;
	color: var(--primary);
	font-weight: 1000;
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
}

#information, #discipleship {
	background: var(--primary);
	color: #fff;
	cursor: pointer;
	border: none;
	transition: all .5s;
}

/* sidebar */


.dark {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 800vh;
	background: #4447;
	opacity: 0;
	display: none;
	transition: all 1s;
	z-index: 5;
}

.darkActive {
	display: block;
	animation: darkActive 1s forwards;
}

.sidebar {
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 40px 20px;
	background: #fff5;
	width: 35%;
	height: 100vh;
	transform: translateX(-500px);
	transition: transform .6s;
	z-index: 10;
}

.activeBars {
	transform: translateX(0);
}

.sidebar a {
	text-decoration: none;
}

.buttonDiv {
	display: flex;
	justify-content: space-between;
	margin: 3px 0;
	background: rgba(89,0,255,1);
	cursor: pointer;
	transition: all .3s;
}

.buttonDiv h1 {
	color: #fff;
	font-size: 30px;
	margin: 10px 22px;
	font-family: 'Josefin Sans', sans-serif;
}

.buttonDiv:hover {
	background: var(--primary);
	transform: scale(1.05);
}

@keyframes darkActive {
	0% {
		opacity: 0;		
	}
	100% {
		opacity: 1;
	}
}

.informationSheet {
	display: none;
	flex-wrap: wrap;
	justify-content: space-between;
	position: fixed;
	top: 3%;
	left: 10%;
	right: 10%;
	padding: 30px 45px;
	background: #fff;
	border-radius: 5px;
	z-index: 50;
}

.informationSheetTitle {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 20px 0;
}

.nameAbbreviationTitle {
	font-family: 'Josefin Sans', sans-serif;
	color: var(--primary);
	border-bottom: 1px solid var(--primary);
}

#exit {
	background: transparent;
	color: #555;
	border: none;
	outline: none;
	font-size: 30px;
	cursor: pointer;
	transition: .2s;
}

#exit:hover { color: var(--primary); }
#exit:active { color: #ff0000; }

.firstDivision, .secondDivision {
	margin: 0 20px;
	width: 45%;
	max-width: 45%;
}

.personalInformationGroup {
	display: flex;
	padding: 4px 0;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #444;
}

.personalInformationGroupInDescription {
	margin: 7px 0;
}

.personalInformationGroup h2, .personalInformationGroup h3 {
	color: #444;
	display: inline-block;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	overflow: auto;
	width: 46%;
	max-height: 40px;
}

.personalInformationGroupInDescription h2, .personalInformationGroupInDescription h3 {
	color: #444;
	display: inline-block;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
}

.personalInformationGroup h2, .personalInformationGroupInDescription h2 {
	text-align: center;
	padding: 2px;
	border-radius: 3px;
	background: var(--primary);
	color: #fff;
}

.personalInformationGroupInDescription .descriptionTitle {
	color: var(--primary);
	font-size: 25px;
	background: transparent;
	padding: 0;
}

.personalDescription {
	padding: 20px;
	background: #eee;
	letter-spacing: 1px;
	color: #232323;
	width: 100%;
	max-height: 300px;
	overflow: auto;
	margin: 20px 0;
}